*{
  font-size: 15px;
  font-family: Roboto, arial;
}

.linkMenu{
  text-align: right;
  padding: 20px;

}
.linkMenu>a{
  margin: 10px;
  text-decoration: none;
}
.linkMenu>a:hover{
  text-decoration: underline;
}

.container{
  text-align: center;
  margin: 50px;
}
#searchBar{
  width: 35%;
  height: 40px;
  background: white;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}
#searchBar:hover{
  box-shadow: 0px 0px 4px 2px lightgrey;
}
.logoText{
  color: #4285f4;
  position: relative;
  left: 110px;
  top: -20px;
}
.searchButtons{
  margin-top: 20px;
}
.searchButtons>input{
  height: 40px;
  width: 150px;
  margin:10px;
  border: 1px solid white;
  background-color: #f8f9fa;
}
.searchButtons>input:hover{
  border: 1px solid lightgrey;
}
